@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('../fonts/Roundedmplus1c.woff2') format("woff2")
  url('../fonts/Roundedmplus1c.woff') format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('../fonts/Roundedmplus1cmedium.woff2') format("woff2")
  src: url('../fonts/Roundedmplus1cmedium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  src: url('../fonts/Roundedmplus1cbold.woff2') format("woff2")
  url('../fonts/Roundedmplus1cbold.woff') format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'TT Chocolates ';
  src: local('../fonts/TT Chocolates  Bold'), local('TT-Chocolates--Bold'),
      url('../fonts/TTChocolates-Bold.woff2') format('woff2'),
      url('../fonts/TTChocolates-Bold.woff') format('woff'),
      url('../fonts/TTChocolates-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Chocolates ';
  src: local('../fonts/TT Chocolates  Regular'), local('TT-Chocolates--Regular'),
      url('../fonts/TTChocolates-Regular.woff2') format('woff2'),
      url('../fonts/TTChocolates-Regular.woff') format('woff'),
      url('../fonts/TTChocolates-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

