@font-face {
    font-family: 'TT Chocolates ';
    src: local('TT Chocolates  Regular'), local('TT-Chocolates--Regular'),
        url('TTChocolates-Regular.woff2') format('woff2'),
        url('TTChocolates-Regular.woff') format('woff'),
        url('TTChocolates-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }