/*admin*/
.selectric{
	border-radius: 10px;
	height: 35.45px;
	background-color: #fff;
	padding: 0 10px 0 38px;
}
.selectric:after{
	position: absolute;
	left: 0;
	top: 50%;
	content: "\e90d";
	font-family: 'icomoon'!important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
	-webkit-font-smoothing: antialiased;
	position: absolute;
    left: 11px;
    color: #006fba;
    font-size: 20px;
	line-height: 1;
	transform: translateY(-50%);
}
.selectric .label{
	color: #8d8d8d;
	font-size: 15px;
	margin: 0;
}
.selectric-items{
	border-radius: 10px;
	overflow: hidden;
}
.selectric-items li{
	background-color: #fff;
}
.selectric-items li.selected{
	background-color: #f6f6f6;
}
.selectric-items li:hover{
	background-color: #f6f6f6;
}
.selectric .button{
	display: none;
}
.modal-vibor__tag{
	display: flex;
	justify-content: center;
	font-weight: 500;
	font-size: 15px;
	line-height: 90%;
	/* or 13px */
	color: #8D8D8D;
	margin-top: 20px;
	margin-bottom: 20px;
}
.modal-vibor__tag div{
	color: #000000;
	margin-right: 5px;
}
.admin-punk__li{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.admin-punk__li__img{
	width: 41px;
	height: 41px;
	flex: 0 0 41px;
	margin-right: 18px;
	border-radius: 100%;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.admin-punk__li__camera{
	background: #aeaeae;
    display: flex;
    justify-content: center;
    padding: 2px 0;
    transition: .1s all;
    color: #fff;
    font-size: 10px;
}
.admin-punk__li__name{
	font-weight: 500;
	font-size: 15px;
	line-height: 113.2%;
	/* or 17px */
	max-width: 160px;

	color: #7A7A7A;
}
.admin-punk__li__pers{
	display: flex;
	align-items: center;
}

.admin-punkt__wrap{
	padding: 0 17px;
}
.admin-punk__ball{
	display: flex;
	margin-top: 7px;
	flex-direction: column;
	justify-content: center;
	.top{
		font-size: 13px;
		line-height: 15px;
		font-weight: 700;
		color: #999898;
	}
	.iz{
		font-size: 22px;
		line-height: 15px;
		/* identical to box height */
		letter-spacing: 0.02em;
		color: #03C47F;
		font-weight: 700;
	}
	.bot{
		font-weight: 700;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 0.02em;
		color: #03C47F;
	}
}

.admin-punk__li__right{
	display: flex;
	align-items: center;
	button{
		background: #FFFFFF;
		box-shadow: 0px 3px 6px rgba(27, 50, 132, 0.25);
		height: 30px;
		width: 30px;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #006FBA;
		margin-left: 9px;
		cursor: pointer;
	}
}
.modal-vibor.admin{
	.modal-vibor__wrap {
		width: 366px;
		position: relative;
		padding-bottom: 25px;
	}
}

.modal-close{
	position: absolute;
	right: 25px;
	top: 25px;
	height: 25px;
    width: 25px;
    cursor: pointer;
}
.modal-close:before{
	position: absolute;
	content: "";
	height: 2px;
	width: 15px;
	display: block;
	background-color: #7A7A7A;
	transform: rotate(45deg);
	top: 11px;
    left: 5px;
}

.modal-close:after{
	position: absolute;
	content: "";
	height: 2px;
	width: 15px;
	display: block;
	background-color: #7A7A7A;
	transform: rotate(-45deg);
	top: 11px;
    left: 5px;
}

@media(max-width: 374px){
	.modal-vibor.admin .modal-vibor__wrap{
		width: 95%;
	}
}
.modal-vibor__wrap2{
	display: none;
}
.modal-vibor.twomodal .modal-vibor__wrap{
		display: none;
}
.modal-vibor.twomodal .modal-vibor__wrap2{
	display: block;
}
.modal-vibor__wrap2{
	background: #fff;
    box-shadow: 0 4px 20px rgba(109,109,109,.1);
    border-radius: 20px;
    padding-bottom: 54px;
    padding: 15px 25px;
    padding-bottom: 25px;
    width: 366px;
    .modal-vibor__title{
    	margin-bottom: 30px;
    }
    .admin-punk__li__img{
    	height: 51px;
    	width: 51px;
    	flex: 0 0 51px;
    }
}
.block2__line{
	display: flex;
	margin-top: 12px;
	white-space: nowrap;
	justify-content: space-between;
	.block2{
		.block2__1{
			font-size: 12px;
		    line-height: 1;
		    color: #a3a3a3;
		}
		.block2__2{
			font-weight: 500;
		    font-size: 15px;
		    line-height: 19px;
		    color: #7a7a7a;
		    margin-top: 2px;
		}
	}
}


.modal-vibor__wrap2{
	.modal-vibor-bnt{
		text-transform: initial;
		margin-top: 0;
	}
	.etap{
		margin-top: 10px;
		> span{
			display: block;
			font-weight: 500;
			font-size: 13px;
			line-height: 267.2%;
			/* identical to box height, or 35px */

			color: #006FBA;
		}
		.etap__item{
			background: #FFFFFF;
			box-shadow: 0px 4px 10px rgba(47, 30, 242, 0.3);
			border-radius: 11px;
			
			height: 36px;
			display: flex;
			align-items: center;
			padding: 0 15px;
			font-size: 13px;
			line-height: 267.2%;
			/* identical to box height, or 35px */
			margin: 0 -10px;
			margin-bottom: 18px;
			color: #8D8D8D;
			span{
				color: #006FBA;
				font-size: 18px;
				margin-right: 12px;
			}

		}
	}
	.venteli{
		display: flex;
		flex-wrap: wrap;
		.yrmakrka__ventel__item{
			width: calc(100% / 3);
			margin-bottom: 20px;
			.yrmakrka__ventel__text{
				font-size: 12px;
			}
		}
	}
}
@media(max-height: 699px){
	.modal-vibor{
		align-items: flex-start;
		padding-top: 25px;
		overflow: auto;
		padding-bottom: 25px;
	}
}

@media(max-width: 374px){
	.block2__line{
		flex-direction: column;
		.block2{
			margin-bottom: 15px;
		}
	}
	.modal-vibor__wrap2 .venteli .yrmakrka__ventel__item{
		width: calc(100% / 2)
	}
}

.employees-item{
	position: relative;
}
/*//лидер*/
.employees-item__more{
	width: 10px;
	height: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 3;
	color: #000;
	font-size: 8px;
	cursor: pointer;
}

.employees-item__wrap{
	display: none;
	position: relative;
}

.employees-item.active .employees-item__wrap{
	display: block;
}
.section-info.hide{
	display: none;
}
.employees-item.active:before{
	content: "";
	display: block;
	background-color: #fff;
	position: absolute;
	z-index: -1;
	width: calc(100% - 10px);
	left: 0;
	height: calc(100% - 146px);
	top: 146px;
	border-radius: 0 0 15px 15px;
}
.yrmakrka__info__block1{
	display: none;
}
.employees-item.active{
	overflow: hidden;
	.employees-card:before{
		background: url(../img/employees-bg_r_active2.png) 0 0 no-repeat;
		top: 0;
	}
	.employees-card:after{
		height: 147px;
		border-radius: 15px 0 0 0 ;
		box-shadow: none;
	}
	.employees-card{
		position: initial;
	}
	.employees-item__more{
		transform: rotate(180deg);
	}
	.yrmakrka__info__block1{
		margin-top: 15px;
		display: block;
		width: 100%;
	}
	.employees-card__author{
		flex-wrap: wrap;
	}
	.section-info.hide{
		display: flex;
		margin-top: 10px;
	}
	.author-employees{
		padding-top: 20px;
	}
	.employees-card__inner{
		position: relative;
	}
	.yrmakrka__info__block1__2{
		background: #F6F6F6;
		box-shadow: inset 0px 3px 7px rgba(118, 118, 118, 0.25);
		border-radius: 10px;
		max-width: 291.31px;
		height: 35.97px;
		display: flex;
		align-items: center;
		padding-left: 30px;
		font-size: 15px;
		line-height: 267.2%;
		/* identical to box height, or 40px */


		color: #8D8D8D;
	}
}
@media(max-width: 767px){
	.employees-row{
		margin-right: -10px;
	}
	.employees-item.active{
		.employees-card__info .section-info__item{
			display: block;
		}
		.employees-card__inner{
			flex-direction: column;
		}
		.author-employees{
			width: 100%;
		}
		.employees-card__content{
			padding-right: 0;
		}
		.employees-card__info .section-info{
			flex-direction: column-reverse;
			margin: 0;
		}
		.section-info__item{
			margin-bottom: 15px;
		}
	}
	.filter-prof__item .punkt__select{
		max-width: 100%;
	}
}
.filter-prof--two .filter-prof__item{
	flex-grow: 0;
}
.filter-prof__item-date{
	flex-grow: 1;
}
/*assesor*/
.assesor{
	.leader-section{
		min-height: 136px;
	}
}

@media(max-width: 767px){
	.filter-prof__item-date{
		display: flex;
		position: absolute;
		right: 0;
		top: 11px;
		z-index: 12;
	}
	.title-lg-section{
		font-size: 14px;
	}
	.heading-section{
		left: 63px;
		top: 1px;
	}
	.date-wrap__count{
		font-size: 14px;
	}
	.date-wrap{
		padding-left: 22px;
	}
	.author-employees{
		flex-basis: 55%;
	}
}

@media(max-width: 374px){
	.date-wrap:after{
		display: none;
	}
	.date-wrap{
		text-align: right;
	}
	.date-wrap__count{
		font-size: 12px;
	}
	.filter-prof__item-date{
		top: 15px;
	}
}

.yrmarka-admin{
	button.sort{
		font-weight: 500;
		font-size: 14px;
		line-height: 90%;
		/* identical to box height, or 13px */
		background-color: transparent;
		color: #35AEC1;
		margin-right: 15px;
		display: flex;
		align-items: center;
		padding: 0 10px;
		transition: 0.3s all;
		img{
			margin-right: 15px;
		}
	}
}
button.sort:hover{
	background: #f6f6f6;
	box-shadow: 0 4px 10px rgba(192,192,192,.25);
	border-radius: 10px;
	cursor: pointer;
}
.yrmarka-admin__wrap{
	display: flex;
}

.yrmarka-admin .title{
	padding-left: 50px;
}


.yrmarka-admin .employees-item.active .employees-card__author{
	flex-wrap: nowrap;
}

.yrmarka-admin .employees-item.active .author-employees{
	padding-top: 0;
}

.yrmarka-admin .employees-card__info .section-info{
	margin-bottom: 15px;
}
.yrmarka-admin{
	.edit-btn span{
		font-weight: 500;
		font-size: 22px;
		line-height: 1;
		color: #006FBA;
		padding-bottom: 3px;
	}
	.yrmakrka__man{
		position: relative;
		position: relative;
	}
	.yrmakrka__man .count{
		position: absolute;
		right: 0;
		top: 0;
		width: 25px;
		height: 25px;
		transform: translate(50%, -50%);
		background: #4BCFE4;
		border-radius: 100%;
		font-size: 10px;
		line-height: 267.2%;
		/* identical to box height, or 27px */
		color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		text-align: center;
	}
}
@media(max-width: 991px){
	.yrmarka-admin .title{
		padding-left: 80px;
	}
}
@media(max-width: 767px){
	.yrmarka-admin__wrap{
		width: 100%;
		flex-direction: column-reverse;
		align-items: flex-start;
		a{
			margin-bottom: 15px;
		}
	}
	
}

.yrmarka-admin .yrmakrka__top{
	margin-bottom: 15px;
}
.yrmakrka__filter{
	display: none;
}

.yrmakrka__filter a{
	margin: 0 10px;
	box-shadow: 0px 4px 10px rgba(192, 192, 192, 0.5);
	border-radius: 10px;
	min-width: 189px;
	margin-bottom: 20px;
	text-align: center;
	color: #35AEC1;
	padding: 10px 15px;
	transition: 0.3s all;
	display: inline-block;
	background-color: #ececec;
}
.yrmakrka__filter a:hover{
	background-color: #fff;
}
@media(max-width: 767px){
	.yrmakrka__filter{
		margin: 0 -10px;
	}
	.yrmakrka__filter a{
		min-width: initial;
		width: calc(100% / 2 - 20px);
	}
}
@media(max-width: 559px){
	.yrmakrka__filter a{
		width: calc(100% - 20px);
	}
	.yrmarka-admin button.sort:hover{
		padding: 10px 10px;
	}
}

.yrmarka-admin.canditadov{
	.author-employees{
		flex-basis: 25%;
		flex-wrap: wrap;
	}
	.author-employees__name{
		width: 100%;
	}
	.employees-card__inner{
		min-height: 140px;
	}
	.employees-card__info .section-info{
		justify-content: flex-start;
	}
	.employees-card__info .section-info__item{
		width: auto;
		margin-left: 15px;
	}
	.employees-card:before{
		background: url('../img/yarmarka/yrcand.png') 0 0 no-repeat;
		height: 140px;
		top: -1px;
	}
	.employees-card{
		min-height: 139px;
	}
	.yrmakrka__ventel__img img{
		height: 50px;
		width: 50px;
	}
	.yrmakrka__ventel__img{
		height: 50px;
		width: 50px;
	}
	.yrmakrka__ventel__text{
		font-size: 10px;
		height: 20px;
		margin-top: 5px;
	}
	.yrmakrka__ventel{
		height: 85px;
		margin: 0;
	}
	.edit-btn{
		top: 53px;
    	right: -19px;
	}
	.author-employees{
		min-width: 276px;
		max-width: 276px;
		height: auto;
	}
	.yrmakrka__ventel{
		max-width: 700px;
	}
}
.canditadov__wrap{
	display: flex;
	padding-left: 276px;
	font-size: 12px;
	/* or 358% */
	color: #A3A3A3;
	div{
		margin-left: 15px;
		margin-bottom: 12px;
	}
}

@media(max-width: 1279px){
	.yrmarka-admin.canditadov{
		zoom: 0.7;
	}
}
@media(max-width: 991px){
	.yrmarka-admin.canditadov{
		zoom: 1;
	}
	.yrmarka-admin.canditadov{
		.employees-card__inner{
			position: relative;
			flex-direction: column;
		}
		
		.employees-card:before {
		    background: url('../img/employees-bg_r_active2.png') 0 0 no-repeat;
		    top: 0;
		}
		.author-employees{
			max-width: initial;
			min-width: initial;
			width: 100%;
			flex-wrap: nowrap;
			min-height: initial;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.author-employees__name{
			padding: 0 20px;
		}
		.employees-item:before {
		    content: "";
		    display: block;
		    background-color: #fff;
		    position: absolute;
		    z-index: -1;
		    width: calc(100% - 10px);
		    left: 0;
		    height: calc(100% - 140px);
		    top: 140px;
		    border-radius: 0 0 15px 15px;
		}
		.employees-card:after{
			height: 140px;
			border-radius: 15px 0 0 0;
			box-shadow: none;
		}
	
		.employees-card{
			min-height: initial;
			
		}
		.yrmakrka__ventel{
			height: auto;
			padding: 0;
			margin-top: 20px;
		}
		.employees-card__content{
			flex-direction: column;
		}
		.section-info .section-info__item{
			display: block;
			width: 50%;
			margin-left: 0;
			margin-bottom: 15px;
		}
		.section-info{
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 10px;
		}
		.edit-btn {
		    top: 46px;
		    right: -2px;
		}
		.employees-card__content{
			padding: 0;
		}
		.yrmakrka__ventel__text {
			max-width: 130px;
		}
	}
	.canditadov__wrap{
		display: none;
	}
}

.yr__wrap{
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
}
.yr__col{
	width: 50%;
	padding: 0 20px;
}
.yr__item{
	margin-bottom: 15px;
	position: relative;
	
	width: 100%;
	.edit-btn{
		width: 28px;
    	height: 28px;
    	top: 42px;
    	right: -7px;
	}
	.employees-card__author{
		min-height: initial;
	}
	.employees-item__more{
		color: #8D8D8D;
	}
	.author-employees{
		min-width: 280px;
	}
}

.like{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 50px;
	top: 20px;
	width: 25px;
	height: 25px;
	cursor: pointer;
	img{
		margin-bottom: 4px;
	}
	span{
		font-weight: 500;
		font-size: 10px;
		line-height: 113.2%;
		letter-spacing: 0.05em;
		color: #828282;
	}
}
.yr__item__wrap{
	display: flex;
	height: 112px;
}
.yr__item:after{
	content: "";
	position: absolute;
	height: 112px;
	top: 0;
	right: 0;
	display: block;
	width: 30px;
	background: url('../img/yarmarka/yritem.png') 0 0 no-repeat;
	
}
.yr__fon{
	position: absolute;
	width: calc(100% - 30px);
	height: 100%;
	left: 0;
	bottom: 0;
	top: 0;
	background-color: #fff;
	border-radius: 15px 0 0 15px;
	z-index: -1;
}

.yr__content__top{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 20px;
}
.yr__item__wrap2{
	display: none;
	padding: 0 20px;
}

.yr__item.active{
	padding-bottom: 20px;
	.yr__item__wrap2{
		display: block;
	}
	.yr__item__wrap2 .yr__block{
		margin-bottom: 15px;
	}
	.edit-btn{
		top: 46px;
	}
	.employees-item__more{
		transform: rotate(180deg);
	}
}
.yr__item.active:after{
	background: url('../img/employees-bg_r_active2.png') 0 0 no-repeat;
}
.yr__item.active:before{
	content: "";
	height: calc(100% - 112px);
	top: 112px;
	display: block;
	background-color: #fff;
	z-index: -1;
	position: absolute;
	width: 100%;
	left: 0;
	border-radius: 0 0 15px 15px;
}
.yr__contact{
	display: flex;
	flex-wrap: wrap;
}
.yr__contact__item{
	font-size: 14px;
	/* or 37px */
	display: flex;
	align-items: center;
	letter-spacing: 0.08em;
	color: #9A9A9A;
	width: 50%;
	margin-bottom: 10px;
	img{
		margin-right: 14px;
	}
}
.yr__contact__item.mail{
	width: 100%;
}

.comment__btn{
	background: linear-gradient(91.27deg, #35AEC1 12.78%, #4CD0E5 90.06%);
	box-shadow: 0px 4px 8px rgba(198, 198, 198, 0.45);
	border-radius: 11px;
	width: 167.12px;
	height: 35.59px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 267.2%;
	color: #FFFFFF;
	cursor: pointer;
	transition: 0.3s all;
	img{
		margin-right: 10px;
	}
	.active{
		display: none;
	}
}
.comment__btn:hover{
	box-shadow: 0px 4px 8px rgba(198, 198, 198, 0.95);
}
.comment{
	margin-top: 10px;
}

.mini-ventel{
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	.yrmakrka__ventel__item{
		width: calc(100% / 3);
		.yrmakrka__ventel__text{
			font-size: 12px;
		}
	}
}
.comment__item{
	margin-top: 15px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	background: #FEFFFF;
	box-shadow: 0px 4px 11px rgba(149, 149, 149, 0.25);
	border-radius: 15px;
	p{
		font-size: 14px;
		line-height: 113.2%;
		color: #7A7A7A;
	}
}
.comment__item__top{
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
.comment__item__name{
	display: flex;
	flex-direction: column;
	flex: 1;
	font-weight: 500;
	font-size: 15px;
	line-height: 113.2%;
	/* identical to box height, or 17px */
	color: #5B5B5B;
	span{
		font-weight: 500;
		font-size: 12px;
		line-height: 113.2%;
		/* identical to box height, or 14px */


		color: #41B2FF;
	}
}

.comment__wrap{
	display: none;
}
.comment.active{
	.comment__btn{
		box-shadow: none;
		background: #fff;
		font-weight: 500;
		font-size: 24px;
		line-height: 267.2%;
		width: 190px;
		/* or 64px */


		color: #35AEC1;
		img{
			display: none;
		}
		img.active{
			display: block;
		}
	}
}
@media(max-width: 1354px){
	.yr__item{
		.author-employees{
			padding-left: 10px;
		}
		.author-employees__img .menager-img{
			width: 70px;
    		height: 70px;
    		min-width: 70px;
		}	
		.author-employees__img{
			margin-right: 5px;
		}
		.author-employees{
			min-width: 240px;
		}
	}
	.yr__col{
		padding: 0 10px;
	}
	.yr__wrap{
		margin: 0 -10px;
	}

}
@media(max-width: 1199px){
	.yr__col{
		width: 100%;
		max-width: 465px;
	}
	.yr__wrap{
		margin: 0;
		align-items: center;
		flex-direction: column;
	}
}

@media(max-width: 559px){
	.yr__col{
		max-width: 100%;
	}
	.yr__item .author-employees__img{
		margin-right: 10px;
	}
	.yr__item .author-employees{
		min-width: 100%;	
	}
	.yr__content__top{
		position: absolute;
		right: 53px;
    	top: 50px;
	}
	.yr__item .section-info__name{
		font-size: 16px;
	}
	.like{
		right: 35px;
    	top: 15px;
	}
	.yr__wrap{
		margin: 0 -10px;
	}
	.yr__item__wrap2{
		padding: 0 10px;
	}
	.yr__contact__item{
		width: 100%;
	}
	.yr__content__top{
		right: 29px;
	}

}

@media(max-width: 374px){
	.content{
		padding-left: 15px;
		padding-right: 15px;
	}
	.yr__wrap{
		margin: 0 -15px;
	}
	.author-employees__name{
		font-size: 11px;
		.place-col b{
			font-size: 16px;
		}
	}
	.mini-ventel .yrmakrka__ventel__item{
		width: 50%;
	}
}


.yrmakrka__back{
	font-weight: 500;
	font-size: 15px;
	line-height: 267.2%;
	/* identical to box height, or 40px */
	display: flex;
	align-items: center;
	color: #006FBA;
	margin-left: 30px;
}
.yrmakrka__back span{
	margin-right: 10px;
	background: #FFFFFF;
	width: 25px;
	display: block;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	box-shadow: 0px 2px 6px rgba(35, 31, 87, 0.25);
	transform: rotate(-90deg);
	font-size: 8px;
	color: #006FBA;
}

@media(max-width: 767px){
	.yrmakrka__back{
		position: absolute;
		z-index: 5;
		right: 20px;
		top: 20px;
	}
}